.header {
    background-color: #00423d;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .title {
    font-size: 1.8em;
    font-weight: bold;
}
.header .menu a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}
.header .menu .logout {
    font-weight: bold;
}
.content {
    padding: 20px;
}